.spot-globalHeader{
    text-align: center;
}

.global-servicioCard{
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-4);
}
.global-servicioCard-icono{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: var(--color-primary);
  width: 80px;
  height: 80px;
}
.global-servicioCard-number{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.global-blogCard{
	position: relative;
	display: flex;
	align-items: end;
	justify-content: start;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	padding: var(--spacer-2);
}

.global-blogCard-text{
	padding: var(--spacer-3);
	color: var(--color-white);
	transition: transform 0.4s ease-in-out,
	background-color 0.3s ease-in-out;
	min-height: 150px;
}

.global-blogCard:hover .global-blogCard-text {
  transform: translateY(-40%);
  background-color: var(--color-primary-hover);
}

.global-blogCard a{
	opacity: 0;	
	transition: opacity 0.7s ease-in-out;
}
.global-blogCard:hover a{
	opacity: 1;
}
.global-blogCard-layer{
	position:absolute;width:100%;height:100%;top:0;left:0;
}
#globalBlogTabs{
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.spot-tabs-scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  scrollbar-width: none;      /* Firefox */
}

.spot-tabs-scroll .globalBlogTab-tab {
  display: inline-block;
  margin: 0 var(--spacer-3);
  border-bottom: 2px solid transparent;
}

#globalBlogTabs .globalBlogTab-link {
  color: var(--gray-500);
  transition: color 0.3s ease-in-out,
  font-weight 0.3s ease-in-out;
}

#globalBlogTabs .globalBlogTab-link:hover {
  color: var(--color-acento);
}

#globalBlogTabs .active {
  color: var(--color-primary);
  font-weight: 300;
  border-bottom: 2px solid var(--color-primary);
}